* {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(https://bing.biturl.top/?resolution=1366&format=image&index=0&mkt=random);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#btnGroup {
    z-index: 3;
    right: 20px;
    width: 10em;
    background-color: rgba(245, 245, 220, 0.623);
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1em;
    overflow: hidden;
    position: fixed;
    top: 0;
    border: 2px solid rgba(35, 32, 13, 0.814);

}

#btnGroup img {
    width: 32px;
}

#btnGroup a {
    text-decoration: none;
    color: rgba(35, 32, 13, 0.814);
}

.custom-link a {
    text-decoration: none;
    margin: 2px;
    font-size: inherit;
}

.custom-link img {
    width: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    height: auto;
    z-index: 2;
    padding: 5px;
}

header p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.content-section {
    margin-top: 100px;
    z-index: 1;
}

footer .row h2 {
    text-align: center;
}